.change_password_container {
    background: rgba(152, 152, 152, 0.3);
    width: 50vw;
    border-radius: 10px;
    margin: 2rem auto;
    padding: 1.5rem;
    height: 45vh;
}

.change_password_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin: 0 auto;
}

.change_password_label{
    align-self: flex-start;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
}

.change_password_input{
    width: 100%;
    margin-bottom: 1.7rem;
    height: 2rem;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.5);
}

.change_password_input:hover{
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.4);
}

.change_password_btn {
    height: 2rem;
    width: 11rem;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    background: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.change_password_btn:hover {
    background: rgba(199, 237, 252, 0.7);
}

.change_password_error {
    color: #ff2d2d;
    margin: 0;
    margin-bottom: 1rem;
}

.change_password_error_input {
    border: 1px solid #ff2d2d !important;
}

@media screen and (max-width: 750px) {
    .change_password_container {
        background: rgba(152, 152, 152, 0.3);
        width: 80vw;
        border-radius: 10px;
        margin: 2rem auto;
        padding: 1.5rem;
    }

    .change_password_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60vw;
        margin: 0 auto;
    }

    .change_password_label{
        align-self: flex-start;
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
    }

    .change_password_input{
        width: 100%;
        margin-bottom: 1.7rem;
        height: 2rem;
        border-radius: 8px;
        border: 1px solid rgba(0,0,0,0.5);
    }

    .change_password_input:hover{
        box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.4);
    }

    .change_password_btn {
        height: 2rem;
        width: 11rem;
        border-radius: 10px;
        border: 1px solid rgba(0,0,0,0.5);
        background: white;
        font-size: 1.2rem;
    }

    .change_password_error {
        color: #ff2d2d;
        margin: 0;
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }
}