.user_menu {
    position: fixed;
    top: 100px;
    right: 15px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: white;
    height: 250px;
    width: 200px;
    box-shadow: 0 5px 5px rgba(42, 41, 39, 0.3);
    animation: 0.3s openModal ease-out;
    z-index: 99;
}

.user_links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_link {
    margin-top: 3rem;
}

.user_link a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.75rem;
}

.user_link a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media screen and (max-width: 680px) {
    .user_menu {
        position: fixed;
        top: 100px;
        right: 15px;
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.3);
        background: white;
        height: 200px;
        width: 150px;
    }

    .user_links {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user_link {
        margin-top: 2rem;
    }

    .user_link a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
        padding: 0;
    }
}

@keyframes openModal {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}